node_modules/
android/app/build/
android/build/
android/.gradle/
android/.idea/
android/local.properties
*.apk
server/alvorada.env
server/node_modules
tools/
*.zip

# chaves de assinatura
*.jks
*.jks.b64
*.keystore
arte/rei/rei.b64
